{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erick Dutra</title>

    <link rel="stylesheet" href="{% static "./home/assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "./home/assets/css/projects-style.css" %}">
    <link rel="stylesheet" href="{% static "./home/assets/css/carrosel-style.css" %}">
    <link rel="stylesheet" href="{% static "./home/assets/css/skills.css" %}">
    <link rel="stylesheet" href="{% static "./home/assets/css/box-footer.css" %}">
    <link rel="stylesheet" href="{% static "./home/assets/css/input-style.css" %}">
    <link rel="shortcut icon" href="{% static "./home/assets/icons/icon.svg" %}" type="image/x-icon">
</head>