{% load static %}
<section>
    <div class="information">
        <div class="itens">
            <div class="photo">
                <img src="{% static ".\home\assets\img\me.svg" %}" alt="i am erick">
            </div>
            <div class="info-box">
                <h2>Erick Dutra</h2>
                <ul>
                    <li>
                        <a href="mailto:deverickdutra@gmail.com" >
                            <img src="{% static ".\home\assets\icons\gmail.svg" %}" alt="icone-gmail">
                            <span id="profile.email">Gmail</span>
                        </a>
                    </li>
                    <li> 
                        <a href="https://www.linkedin.com/in/erick-dutra-916217211/" target="_blank">
                            <img src="{% static ".\home\assets\icons\linkedin.svg" %}" alt="icone-linkedin" >  
                            <span>Linkedin</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/ErickDutra" target="_blank">
                            <img src="{% static ".\home\assets\icons\github.svg" %}" alt="icone-github">
                            <span id="profile.job">Github</span>
                        </a> 
                    </li>
                </ul>
            </div>
            <div class="about-box">
                <p class="about">
                    Olá, pessoal! Sou o Erick Dutra, acadêmico no curso Técnico em Análise e Desenvolvimento de Sistemas.
                </p>
                <br>
                <p class="about"> 
                    Tenho grande paixão por desenvolvimento de software e por automação de tarefas, também tenho bastante interesse na área de IA com ênfase em machine learning.
                </p>
                <br>
                <p class="about"> 
                    Tento me desenvolver dia a dia, de pouco a pouco, acredito que com paciência, perseverança e disciplina, conseguiremos atingir todas as nossas metas.
                </p> 
            </div>
        </div>
    </div>
    <div class="skills">
        <ul>
            {% block section_data %}
                {% for icons_projects in section_data %}
                    {% include "global\partials\skillsblock.html" %}
                {% endfor %}
            {% endblock section_data %}
        </ul>
    </div>
    <div class="table-projects">
        <div>
            <h2>Projects</h2>
        </div>
        {% include "global\partials\projects-for.html" %}
    </div>
        {% include "global\partials\section-form.html" %}
</section>